<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home_styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/492a815e57.js" crossorigin="anonymous"></script>
    <!-- <script src="granim.min.js"></script> -->
    <title>HomePage</title>
</head>
<body>  
  <div class="main" id="Animated-container">
    <div class="container-top">
      <div class="first-row">
        <div class="sidebar" id="sidebar">
          <div class="sidebar-header">
            WatchLinK 
            <i id="close-sidebar" class="fas fa-times"></i>
          </div>
          <ul>
            <li>
              <a href="#"><i class="fas fa-home"></i>Home</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-crown"></i>Premium</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-thumbs-up"></i>Favorites videos</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-list"></i>PlayLists</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-cog"></i>Settings</a>
            </li>
          </ul>
        </div>
        <div class="Menu" id="menu-button">
          <i class="fa-solid fa-bars fa-2x"></i>    
        </div>
        <form class="top-container" action="">
          <input type="text" placeholder="Search.." />
          
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="user-icon">
          <img src="sources/icons8-user-64.png" alt="USER_ICON">    
        </div>
      </div>
      <div class="navigation">   
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>    
      </div> 
      <span class="welcome-span">
        Welcome to <span class="watchlink-span">WatchLink</span>
      </span>
    </div>
    <div class="videos">
      <div class="video-block">
        <div class="video-screen">
          <a href="#"><img src="sources/Polygon 5.png" class="background-image" alt="Play button"></a>
          <img src="sources/Магвая1 (1).jpg" alt="Preview">
        </div>
        <div class="title">
          <div class="prof-icon">
            <a href="#"><img src="sources/icons8-user-642.png"></a>
          </div>
          <div class="video-name">
            Harry Maguire - The Beast
          </div>
        </div>
      </div>
      <div class="video-block">
        <div class="video-screen">
          <a href="#"><img src="sources/Polygon 5.png" class="background-image" alt="Play button"></a>
          <img src="sources/Магвая1 (1).jpg" alt="Preview">
        </div>
        <div class="title">
          <div class="prof-icon">
            <a href="#"><img src="sources/icons8-user-642.png"></a>
          </div>
          <div class="video-name">
            Harry Maguire - The Beast
          </div>
        </div>
      </div>
      <div class="video-block">
        <div class="video-screen">
          <a href="#"><img src="sources/Polygon 5.png" class="background-image" alt="Play button"></a>
          <img src="sources/Магвая1 (1).jpg" alt="Preview">
        </div>
        <div class="title">
          <div class="prof-icon">
            <a href="#"><img src="sources/icons8-user-642.png"></a>
          </div>
          <div class="video-name">
            Harry Maguire - The Beast
          </div>
        </div>
      </div>
      <div class="video-block">
        <div class="video-screen">
          <a href="#"><img src="sources/Polygon 5.png" class="background-image" alt="Play button"></a>
          <img src="sources/Магвая1 (1).jpg" alt="Preview">
        </div>
        <div class="title">
          <div class="prof-icon">
            <a href="#"><img src="sources/icons8-user-642.png"></a>
          </div>
          <div class="video-name">
            Harry Maguire - The Beast
          </div>
        </div>
      </div>

      
      
      
    </div>
    
  </div>

</body>


<script src="home_script.js"></script>

</html>