<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile-style.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/492a815e57.js" crossorigin="anonymous"></script>
    <title>Profile</title>
  </head>
  <body>
    <header>
      <form class="top-container" action="">
        <input type="text" placeholder="Search.." />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <div class="midlle-container">
        <nav>
          <a>About us</a>
          <a>Help</a>
          <a>Contact</a>
        </nav>
      </div>
      <div class="bottom-container">Welcome to <span>WatchLinK</span>       
      </div>
      <div class="user-icon">U</div>
      <div class="sidebar-icon"><i class="fas fa-bars" id="btn"></i></div>
    </header>
    <div class="sidebar">
        <div class="sidebar-header">
            WatchLinK 
            <i id="close-sidebar" class="fas fa-times"></i>
        </div>
        <ul>
          <li>
            <a href="{{ url_for('home') }}"><i class="fas fa-home" id="i-home"></i>Home</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-crown"></i>Premium</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-film"></i>Your videos</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-thumbs-up"></i>Favorites videos</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-list"></i>PlayLists</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-cog"></i>Settings</a>
          </li>
        </ul>
       </div>


       <div class="main">
        <div class="about">
            <div class="ava-joined">
              <div class="avatar-wrapper">
                <img class="avatar" src="{{ image_file }}" alt="Jack">
              </div>
            </div>
            <div class="name-post">
              <div class="main-info">
                <h2 class="nickname">{{ current_user.username }}</h2>
                <p>{{ current_user.email }}</p>
                <p>Joined 18.07.2023</p>
              </div>
              <div class="info">
                <p>Videos: 36</p>
                <p>Subscribers: 122036</p>
              </div>


            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <h1>Account Info</h1>
                <div class="flashed-message">
                    {% with messages = get_flashed_messages(with_categories = true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="inputs">
                    <div class="input">
                        {{ form.username(id="username", placeholder="Username") }}
                        <div>
                            {% for error in form.username.errors %}
                                <span class="error-message" style="color: red; font-size: 2px;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="input">
                        {{ form.email(id="email", placeholder="Email") }}
                        <div>
                            {% for error in form.email.errors %}
                                <span class="error-message" style="color: red; font-size: 2px;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="input">
                        {{ form.picture.label() }}
                        {{ form.picture }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span>{{ error }}</span></br>
                            {% endfor%}
                        {% endif %}
                    </div>
                </div>



                <div>
                    {{ form.submit(class="signUp", type="submit", value="Update") }}
                </div>
            </form>
        </form>
            </div>
            <div class="text-row">
              <button class="btn"><i class="fa-solid fa-chart-simple"></i> Statistics</button> 
            </div>
            <div class="upl-video">
              <p class="add">Add new video</p>
              <button class="fa-solid fa-upload fa-9x"></button>
          </div>
          </div>


          <hr class="line">
    
          <div class="for-videos">        
            
          </div>
        </div>


  </body>
  <script src="{{ url_for('static', filename='profile-script.js')}}"></script>
</html>
