<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="website/static/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script type="text/javascript" defer src="website/static/script.js"></script>
    <title>WatchLinK - Log In!</title>
</head>
<body>
<div class="content-section">
    <form method="POST" action="">
        <h1>Create account</h1>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome, Friend!</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.remember.label(class="form-control-label") }}
                {{ form.remember(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit.label(class="form-control-label") }}
                {{ form.submit(class="form-control form-control-lg") }}
            </div>
        </fieldset>

        <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
    </form>
    <div class="border-top pt-3">
        <small class="text-mused">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
</div>
</body>
</html>